<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gaozhiyuan.doCharage.mapper.primary.GdEbookingEmployeeHotelMapper">

    <resultMap id="BaseResultMap" type="com.gaozhiyuan.doCharage.model.GdEbookingEmployeeHotel">
            <id property="id" column="id" />
            <result property="employeeId" column="employee_id" />
            <result property="elongHotelId" column="elong_hotel_id" />
            <result property="hotelName" column="hotel_name" />
            <result property="roleId" column="role_id" />
            <result property="createTime" column="create_time" />
            <result property="isDelete" column="is_delete" />
            <result property="bookingContactName" column="booking_contact_name" />
            <result property="bookingContactPhone" column="booking_contact_phone" />
            <result property="deleteTime" column="delete_time" />
            <result property="updateTime" column="update_time" />
            <result property="commissionRate" column="commission_rate" />
            <result property="cityId" column="city_id" />
            <result property="cityName" column="city_name" />
    </resultMap>

    <sql id="Base_Column_List">
        id,employee_id,elong_hotel_id,hotel_name,role_id,create_time,
        is_delete,booking_contact_name,booking_contact_phone,delete_time,update_time,
        commission_rate,city_id,city_name
    </sql>
    <select id="selectElongHotelIdByRoleIdIn" resultMap="BaseResultMap">
        select elong_hotel_id
        from gd_ebooking_employee_hotel
        where
        role_id in
        <foreach collection="roleIdList" item="item" open="(" close=")" separator=",">
            #{item,jdbcType=NUMERIC}
        </foreach>
        group by elong_hotel_id
    </select>
</mapper>
