<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gaozhiyuan.doCharage.mapper.primary.ShuipfHotelquyuMapper">

    <resultMap id="BaseResultMap" type="com.gaozhiyuan.doCharage.model.ShuipfHotelquyu">
            <id property="id" column="id" />
            <result property="userid" column="userid" />
            <result property="hide" column="hide" />
            <result property="userpid" column="userpid" />
            <result property="createtime" column="createtime" />
            <result property="hotelname" column="hotelname" />
            <result property="address" column="address" />
            <result property="cityname" column="cityname" />
            <result property="cityid" column="cityid" />
            <result property="ecityid" column="ecityid" />
            <result property="telphone" column="telphone" />
            <result property="eid" column="eid" />
            <result property="pinyin" column="pinyin" />
            <result property="py" column="py" />
            <result property="lat" column="lat" />
            <result property="lng" column="lng" />
            <result property="jingliname" column="jingliname" />
            <result property="jinglitel" column="jinglitel" />
            <result property="bak" column="bak" />
            <result property="curuserid" column="curuserid" />
            <result property="updatetime" column="updatetime" />
            <result property="status" column="status" />
            <result property="hotelid" column="hotelid" />
            <result property="timerday" column="timerday" />
            <result property="timer" column="timer" />
            <result property="createtimelost" column="createtimelost" />
            <result property="source" column="source" />
            <result property="isUpdate" column="is_update" />
            <result property="isImport" column="is_Import" />
    </resultMap>

    <sql id="Base_Column_List">
        id,userid,hide,userpid,createtime,hotelname,
        address,cityname,cityid,ecityid,telphone,
        eid,pinyin,py,lat,lng,
        jingliname,jinglitel,bak,curuserid,updatetime,
        status,hotelid,timerday,timer,createtimelost,
        source,is_update,is_Import
    </sql>
    <select id="selectByIsUpdate" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from shuipf_hotelquyu
        where
        is_update = #{isUpdate,jdbcType=NUMERIC}
    </select>
    <select id="selectByIsUpdateAndIsImportAndEidIsNotNull" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from shuipf_hotelquyu
        where
        is_update = #{isUpdate,jdbcType=NUMERIC}
        AND is_Import = #{isImport,jdbcType=NUMERIC}
        AND eid is not null
    </select>
    <update id="updateIsImportById">
        update shuipf_hotelquyu
        set is_Import = #{isImport,jdbcType=NUMERIC}
        where id = #{id,jdbcType=NUMERIC}
    </update>
    <select id="selectByIsImport" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from shuipf_hotelquyu
        where
        is_Import = #{isImport,jdbcType=NUMERIC}
        AND eid is not null
        AND updatetime >= '1740369600'
    </select>
</mapper>
