<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gaozhiyuan.doCharage.mapper.primary.XdTgtMapper">

    <resultMap id="BaseResultMap" type="com.gaozhiyuan.doCharage.model.XdTgt">
            <id property="id" column="id" />
            <result property="hotelName" column="hotel_name" />
            <result property="eid" column="eid" />
            <result property="storeouterid" column="storeOuterId" />
            <result property="gdpoi" column="gdpoi" />
            <result property="createTime" column="create_time" />
            <result property="alterTime" column="alter_time" />
            <result property="promotionBalance" column="promotion_balance" />
    </resultMap>

    <sql id="Base_Column_List">
        id,hotel_name,eid,storeOuterId,gdpoi,create_time,
        alter_time,promotion_balance
    </sql>
</mapper>
