<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gaozhiyuan.doCharage.mapper.primary.XdZooTableMapper">

    <resultMap id="BaseResultMap" type="com.gaozhiyuan.doCharage.model.XdZooTable">
            <result property="uuid" column="uuid" />
            <result property="userid" column="userid" />
            <result property="userpid" column="userpid" />
            <result property="createtime" column="createtime" />
            <result property="hotelname" column="hotelname" />
            <result property="eid" column="eid" />
            <result property="jingliname" column="jingliname" />
            <result property="jinglitel" column="jinglitel" />
            <result property="curuserid" column="curuserid" />
            <result property="updatetime" column="updatetime" />
            <result property="zid" column="zid" />
            <result property="createtimelost" column="createtimelost" />
            <result property="syncxdj" column="syncxdj" />
            <result property="ordercount" column="ordercount" />
    </resultMap>

    <sql id="Base_Column_List">
        uuid,userid,userpid,createtime,hotelname,eid,
        jingliname,jinglitel,curuserid,updatetime,zid,
        createtimelost,syncxdj,ordercount
    </sql>
    <select id="selectAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from xd_zoo_table
    </select>
</mapper>
